html, body, #__next {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.ant-menu-dark .ant-menu-item-selected {
    background-color: #333 !important;  /* or any dark gray */
}

.ant-menu-item {
    background-color: #222 !important;  /* or any dark gray */
}

.ant-menu-overflow {
    background-color: #222 !important;  /* or any dark gray */
}